/* Initial Settings */
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, p {
  margin-top: 0;
}

html, body{
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  background: hsl(225, 100%, 94%);
  text-align: center;
}


/* Mobile Screen */
.pattern-background {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/pattern-background-mobile.svg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.card {
  max-width: 20.4375rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 0px 40px 40px -20px hsla(228, 87%, 40%, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card__img-top img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.card__text-bottom {
  padding: 32px;
}


.card__title {
  font-size: 1.375rem;
  font-weight: 900;
}

.card__description {
  color: hsl(224, 23%, 55%);
  font-size: 0.9375rem;
  line-height: 1.66;
}

.card__payment-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(228, 100%, 99%, 1);
  padding: 16px;
  margin: 24px 0px; 
  border-radius: 11px;
}

.card__payment-plan-half1 {
  display: flex;
  justify-content: left;
  align-items: start;
  gap:20px;
  margin-bottom: -10px;
}

.card__payment-plan-pay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 4px;
  margin-top: 2px;
}

.plan {
  font-size: 0.875rem;
  font-weight: 900;
}

.cost {
  color: hsla(224, 23%, 55%, 1);
  font-size: 0.875rem;
}

.card__payment-plan-half2 a {
  color: hsla(245, 75%, 52%, 1);
  font-size: 0.8125rem;
  font-weight: 700;
  transition: .15s ease-in-out;
}

.card__payment-plan-half2 a:hover,
.card__payment-plan-half2 a:focus {
  color: hsla(245, 83%, 68%, 1);
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
}

.card__btn {
  display: block;
  margin: 24px auto;
  font-family: inherit;
  font-weight: 900;
  border: none;
}

.btn--primary {
  padding: 15px 65px;
  background-color: hsla(245, 75%, 52%, 1);
  color: hsl(0, 0%, 100%);
  border-radius: 11px;
  transition: .15s ease-in-out;
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: hsla(245, 83%, 68%, 1);
  cursor: pointer;
  box-shadow: 0px 20px 20px 0px hsla(245, 75%, 52%, 0.19);
}

.btn--secondary {
  background-color: transparent;
  color: hsla(224, 23%, 55%, 1);
  margin-bottom: -8px;
  font-weight: 900;
  transition: .15s ease-in-out;
}

.btn--secondary:hover,
.btn--secondary:focus {
  color: hsla(223, 47%, 23%, 1);
  cursor: pointer;
}

/* Desktop Screen */
@media screen and (min-width: 500px) {

  .pattern-background {
    background: url('../images/pattern-background-desktop.svg');
    background-repeat: repeat-x;
    z-index: -1;
  }

  .card {
    max-width: 450px;
  }

  .card__text-bottom {
    padding: 48px;
  }

  .card__title {
    font-size: 1.75rem;
    margin-bottom: 17px;
  }

  .card__description {
    font-size: 1rem;
  }

  .card__payment-plan {
    padding: 25px;
  }

  .plan {
    font-size: 1rem;
  }

  .cost {
    font-size: 1rem;
  }

  .card__payment-plan-half2 a {
    font-size: 0.875rem;
  }

  .card__payment-plan-half2 a:hover,
  .card__payment-plan-half2 a:focus {
    font-size: 0.9375rem;
  }

  .card__btn {
    margin: 32px auto
  }

  .btn--primary {
    padding: 15px 110px;
  }

  .btn--secondary {
    margin-bottom: -16px;
  }

}

/* Footer */
.attribution {
  font-size: 0.6875rem;
}


.attribution a {
  color: hsl(228, 45%, 44%);
}



